<div class="card h-100">
  <div class="card-header text-center text-white" style="font-size: 5rem;" [ngClass]="this.grupo.backgroundcolor">
    <i [ngClass]="this.grupo.icon"></i>
  </div>
  <!-- <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/> -->
  <div class="card-body">
    <h5 class="card-title">{{this.grupo.title}}</h5>
    <p class="card-text">{{this.grupo.description}}</p>
    <!-- <a href="#!" class="btn btn-primary">Button</a> -->
  </div>
  <div class="card-footer text-white text-center" [ngClass]="this.grupo.backgroundcolor">
    <img src="https://www.ziur.eus/documents/124537/0/4B.-LOGO+ZIUR+INDUSTRIAL+CIBER+SECURITY+BLANCO.png/99ed21e9-ccd3-4cd3-9092-cb68d0461267" />
  </div>
</div>