<div class="container-fluid">
    <div class="" style="height: 100vh">
    <!-- <div class="d-flex justify-content-center align-items-center" style="height: 100vh"> -->
        <!-- <div class="text-center"> -->
        <!-- <app-family-view></app-family-view> -->
        <!-- </div> -->
        <div class="row">
        <ng-template ngFor let-item [ngForOf]="actions" let-i="index">
            <app-action-card [action]="item" class="col-md-2 pt-2"></app-action-card>
        </ng-template>
        </div>
    </div>
</div>