<div class="card text-center h-100">
  <div class="card-header text-white" [ngClass]="currentGroup.backgroundcolor">{{action.id}}</div>
  <div class="card-body">
    <h5 class="card-title">{{action.description}}</h5>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
  <div class="card-footer text-white" [ngClass]="currentGroup.backgroundcolor">
    <i [ngClass]="currentGroup.icon"></i>
  </div>
</div>