<div class="card text-center h-100">
  <div class="card-header text-white" [ngClass]="currentGroup.backgroundcolor"><img src="https://www.ziur.eus/documents/124537/0/4B.-LOGO+ZIUR+INDUSTRIAL+CIBER+SECURITY+BLANCO.png/99ed21e9-ccd3-4cd3-9092-cb68d0461267" height="20" /> <br/>{{action.id}} </div>
  <div class="card-body">
    <h5 class="card-title">{{action.description}}</h5>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
  <div class="card-footer text-white" [ngClass]="currentGroup.backgroundcolor">
    <i [ngClass]="currentGroup.icon"></i>
  </div>
</div>